html { font-size: 100%;}
.header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: 100px;
    align-items: center;
    height: 100px;
    background-color: #2A5B46;
    color: #FFFCF6;
    text-align: center;
    }

.header-link { 
    text-decoration: none;
    color: #FFFCF6;
    margin-left: 2%;}

.background-main-text-all {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr minmax(min-content, max-content); 
    background-image: url(./assets/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    }

.background-main-text { 
    grid-column: 1/3;
    font-size: 6em;
    margin-top: 3%;
    color: #FCD043;
    padding-left: 10px
}

.background-text {   
    font-size: 3em;
    grid-row: 3/4; 
    margin-bottom: 3%;
    color: #FCD043;
    padding-left: 10px;}

.background-bottom { 
    grid-row: 3/4;
    align-self: center;
    width: 100%;
    margin-bottom: 3%;   
}

.about {
    background-color: #2A5B46;  
    width: 100%;   
}

.about-main{ 
    display: grid;
    grid-template-columns: 10% 3fr 1fr 10%;
    grid-template-rows: 45% 1fr;;
    width: 100%;
}
.divtext3 {
     grid-row: 2/3;
     grid-column: 2/4;
     text-align: justify;}

.divtext1 {
    grid-column: 2/3;
    font-size: 2rem; 
    align-self: center;}     
 
.about-img {width: 100%;} 
.divtext2  {
    align-self: center;
    grid-column: 3/4; 
    } 
    
 @media screen and (max-width:425px){
    .header { 
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
     }

     .header-link {
        font-size: x-small;
        margin: 2%;
    }
    
    .header-number {grid-column: 2/3;}

    .header-nav {
        grid-row: 2/3;
        grid-column: 1/3;
        justify-self: stretch;
        }
    .about-main{ display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            font-size: small;
            }
     .divtext1 {font-size: 1.5rem; }
                 
    .background-main-text-all { font-size:xx-small;
            display: grid;
            grid-template-columns: 1 fr;
            grid-template-rows: auto;}
    .background-bottom{ display: none;}}

@media screen and (max-width:375px) {
    .about-main{ display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        font-size: x-small;
        }
        .header-link {
            font-size: x-small;
            margin: 1%;
        }    
}















        

   
                 